@using WebApplicationTest.ViewsModels.Account
@model LoginViewModel

@using (Html.BeginForm())
{
    <div asp-validation-summary="ModelOnly"></div>
    @Html.EditorForModel()
    <br />
    <input type="submit" value="Отправить" />
}

@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}